# Notebook

In [ ]:
import pandas as pd
import seaborn as sns
import time

print(
    1,
    1,
    1,
)
print(1)